{% extends "base.html" %}
{% block title %}Users{% endblock %}

{% block content %}
  <h1>User List</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Birthday</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>
            <a href="{{ url_for('user.show', id=user.id) }}">
              {{ user.name }}
            </a>
          </td>
          <td>{{ user.age }}</td>
          <td>{{ user.birthday and user.birthday.strftime('%Y/%m/%d') }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}