{% extends "base.html" %}
{% block title %}User Info{% endblock %}

{% block content %}
  <h1>User Info</h1>

  <a href="{{ url_for('user.edit', id=user.id) }}">Edit</a>
  <a style="cursor: pointer; color: red;" id="delete-button" data-id="{{ user.id }}">Delete</a>

  <dl>
    <dt>Name</dt>
    <dd>{{ user.name }}</dd>
    <dt>Email</dt>
    <dd>{{ user.email }}</dd>
    <dt>Birthday</dt>
    <dd>{{ user.birthday }}
      {% if user.birthday %}
        ({{ user.age }})
      {% endif %}
    </dd>
    <dt>Status</dt>
    <dd>
      {% if user.is_logged_in %}
        ログイン中
      {% else %}
        ログアウト中
      {% endif %}
    </dd>
  </dl>
  <hr>
  <h2>Blogs</h2>
  <dl>
    {% for blog in user.blogs %}
      <dt>title</dt>
      <dd>
        <a href="{{ url_for('blog.show', id=blog.id) }}">
          {{ blog.title }}
        </a>
      </dd>
    {% endfor %}
  </dl>
  <hr>
  <a href="{{ url_for('user.index') }}">Back to User List</a>

  <script>
    document.getElementById('delete-button').addEventListener('click', function() {
        const id = this.getAttribute('data-id');

        fetch('/users/' + id, {
            method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => {
          if(data.status === 'success') {
            window.location.href = '/users';
          }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });
  </script>
{% endblock %}