<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MyPage{% endblock %}</title>
</head>
<body>
  <header>
    {% if current_user.is_authenticated %}
      <div>ログインユーザー: {{ current_user.name }}</div>
    {% endif %}
    <nav>
      <ul>
        <li><a href="{{ url_for('main.index') }}">ホーム</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('user.index') }}">ユーザー</a></li>
          <li><a href="{{ url_for('user.search') }}">ユーザー検索</a></li>
          <li><a href="{{ url_for('blog.index') }}">ブログ</a></li>
          <li><a href="{{ url_for('auth.logout') }}">ログアウト</a></li>
          <li><a href="{{ url_for('user.edit', id=current_user.id) }}">プロフィール編集</a></li>
          <li><a href="{{ url_for('auth.change_password') }}" >パスワード変更</a></li>
        {% else %}
          <li><a href="{{ url_for('auth.signup') }}">サインアップ</a></li>
          <li><a href="{{ url_for('auth.login') }}">ログイン</a></li>
        {% endif %}
        <li><a href="{{ url_for('main.terms') }}">利用規約</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>© 2023 MyPage. All rights reserved.</p>
  </footer>
</body>
</html>