{% extends "base.html" %}
{% block title %}Study Flask{% endblock %}
{% block content %}
  <h1>メインページです</h1>

  {% if current_user.is_authenticated %}
    <div>
      <p>ユーザー名：{{ current_user.name }}</p>
      <p>メールアドレス：{{ current_user.email }}</p>
    </div>

    <div>
      <h2>友達一覧</h2>
      <table>
        {% for friend in friends %}
          <tr>
            <td>
              <img src="{{ url_for('static', filename=friend.icon) }}" alt="icon" width="50" height="50">
            </td>
            <td>{{ friend.name }}</td>
            <td>
              <a href="{{ url_for('message.index', to_user_id=friend.id) }}">
                メッセージを送る
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div>
      <h2>申請中一覧</h2>
      <table>
        {% for friend in requesting_friends %}
          <tr>
            <td>
              <img src="{{ url_for('static', filename=friend.icon) }}" alt="icon" width="50" height="50">
            </td>
            <td>{{ friend.name }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div>
      <h2>友達リクエスト</h2>
      <table>
        {% for friend in requested_friends %}
          <tr>
            <td>
              <img src="{{ url_for('static', filename=friend.icon) }}" alt="icon" width="50" height="50">
            </td>
            <td>{{ friend.name }}</td>
            <td>
              <form action="{{ url_for('user.connect') }}" method="post">
                {{ connect_form.csrf_token }}
                {{ connect_form.connect_condition(value='accept') }}
                {{ connect_form.to_user_id(value=friend.id) }}
                {{ connect_form.submit(value='承認') }}
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

  {% else %}
    <div>ログイン or サインアップしてください</div>
  {% endif %}
{% endblock %}