{% extends "base.html" %}
{% block title %}User Info{% endblock %}

{% block content %}
  <h1>User Info</h1>

  <dl>
    <dt>Name</dt>
    <dd>{{ user.name }}</dd>
    <dt>Email</dt>
    <dd>{{ user.email }}</dd>
    <dt>Age</dt>
    <dd>{{ user.age }}</dd>
    <dt>Status</dt>
    <dd>
      {% if user.is_logged_in %}
        ログイン中
      {% else %}
        ログアウト中
      {% endif %}
    </dd>
  </dl>
  <hr>
  <h2>Blogs</h2>
  <dl>
    {% for blog in user.blogs %}
      <dt>title</dt>
      <dd>
        <a href="{{ url_for('show_blog', id=blog.id) }}">
          {{ blog.title }}
        </a>
      </dd>
    {% endfor %}
  </dl>
  <hr>
  <a href="{{ url_for('users') }}">Back to User List</a>
{% endblock %}