{% extends "base.html" %}
{% block title %}ブログの投稿{% endblock %}
{% block content %}
  <h1>ブログの投稿</h1>

  <form action="{{ url_for('blog.create') }}" method="post">
    <dl>
      <dt>User_id:</dt>
      <dd><input type="number" name="user_id"></dd>
      <dt>Title:</dt>
      <dd><input type="text" name="title"></dd>
      <dt>Body:</dt>
      <dd><textarea name="body" id="body" cols="30" rows="10"></textarea></dd>
    </dl>
    <input type="submit" value="送信">
  </form>

  <a href="{{ url_for('blog.index') }}">戻る</a>
{% endblock %}