{% extends "base.html" %}
{% block title %}Blog{% endblock %}

{% block content %}
  <h1>Blog</h1>

  <dl>
    <dt>Title:</dt>
    <dd>{{ blog.title }}</dd>
    <dt>Body:</dt>
    <dd>{{ blog.body }}</dd>
  </dl>

  {% if current_user.id == blog.user_id %}
    <a href="{{ url_for('blog.edit', id=blog.id) }}">Edit</a>
    <a style="cursor: pointer; color: red;" id="delete-button" data-id="{{ blog.id }}">Delete</a>
  {% endif %}
  <a href="{{ url_for('blog.index') }}">Back to Blog List</a>

  <script>
    document.getElementById('delete-button').addEventListener('click', function() {
        const id = this.getAttribute('data-id');

        fetch('/blogs/' + id, {
            method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => {
          if(data.status === 'success') {
            window.location.href = '/blogs';
          }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });
    </script>
{% endblock %}