{% extends "base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
  <h1>ログイン</h1>

  {% from "_formhelpers.html" import render_field %}

  <form action="{{ url_for('auth.login') }}" method="post">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
    </dl>
    {{ form.submit() }}
  </form>

  <p><a href="{{ url_for('auth.signup') }}">登録する</a></p>
  <p><a href="{{ url_for('auth.forgot_password') }}">パスワードを忘れた場合</a></p>

{% endblock %}